################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj/app.sms
/obj/Debug
/obj/Release
/publish
