<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="porta" value="COM" />
    <add key="mensagem" value="1" />
    <add key="user" value="1" />
    <add key="quantidade" value="190" />
    <add key="disparos" value="0" />
    <add key="sim" value="SIM" />
  </appSettings>
  <connectionStrings>
    <add name="EntityContext" connectionString="data source=ALLAN-NOTEBOOK\SQLEXPRESS;initial catalog=smssim;persist security info=True;user id=allan;password=kerberos280104;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="EntityContext" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\smssim.mdf;integrated security=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>